.chip {
    height: 5px; // font-size: 2px;
    padding: 5px 8px;
    min-height: 20px;
}

.exam-card {
    height: 220px;

    .exam-card-header {
        height: 100px;
    }
}

.exam-card:hover {
    box-shadow: 0 10px 5px #888888;
}