.body-content {
    background: #f5f5f5;
}

.data-row {
    height: 20px;
    min-height: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.73);
}

.title-row {
    height: 36px;
}

.problem-type {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page-content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    .student-ans-card {
        margin-right: 40px;
        margin-top: 60px;
    }
    .problem-content {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        .divider {
            margin-top: 30px;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .problem-card {
        width: 80%;
        margin-bottom: 20px;
        app-multiple-choice {
            margin-top: 30px;
        }
        app-gap-filling {
            margin-top: 30px;
        }
        .code-editor {
            height: 300px;
        }
    }
}

.grid-list {
    color: white;
    width: 120px;
}

.tips {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    .done {
        margin: 10px;
        background-color: #64dd17;
        width: 25px;
        height: 25px;
        color: white;
        font-size: 10px;
        text-align: center;
        line-height: 25px;
    }
    .doing {
        margin: 10px;
        background-color: #d32f2f;
        width: 25px;
        height: 25px;
        color: white;
        font-size: 10px;
        text-align: center;
        line-height: 25px;
    }
}

.card-action {
    display: flex;
    justify-content: center;
}