.card {
    width: 500px;
}

.item-list {
    margin-top: 60px;
}

.content {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    .score-list {
        margin: 20px;
        flex: 1;
    }
    .score-graph {
        flex: 1;
        margin: 20px;
        justify-self: center;
    }
}