.container {
    padding: 20px;
}
.card {
    width: 500px;
    height: 50px;
}

.item-list {
    margin-top: 60px;
}
.card:hover {
    box-shadow: 0 10px 5px #888888;
}

.content {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    .score-list {
        margin: 20px;
        flex: 1;
    }
    .score-graph {
        flex: 1;
        margin: 20px;
        justify-self: center;
    }
}
