.context {
    margin: 10px;
    .radio-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .radio {
            margin-top: 20px;
        }
    }
}