<div class="not-found">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <strong><b>哦？404了 :-(</b> </strong>
      </mat-card-title>
    </mat-card-header>
    <img
      src="assets/404.jpg"
      alt="404"
      mat-card-image
      width="200px"
      height="200px"
    />

    <mat-card-content> 不好意思，你要的页面没有找到 </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="returnIndex()">
        返回首页
      </button>
    </mat-card-actions>
  </mat-card>
</div>
