<div class="content">
  <mat-card class="header-card">
    <app-avatar class="avtor" [showName]="firstName"></app-avatar>
    <div class="info">
      {{ profile.name }}
      <p>{{ profile.studentNumber }}</p>
    </div>
    <div class="setting">
      <button mat-button>设置</button>
    </div>
  </mat-card>

  <div class="body-card">
    <!-- <mat-card class="left-card">
      <mat-card-title>成绩情况</mat-card-title>
    </mat-card> -->

    <mat-card class="right-card">
      <mat-card-title>课程推荐</mat-card-title>
      <mat-card-content class="recommended-card ">
        <mat-action-list *ngFor="let item of resourceList; let i = index">
          <mat-card mat-list-item class="list-card">
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-content>
              播放次数： {{ item.playTimes }}
            </mat-card-content>
            <mat-card-actions>
              <a mat-button href="http://106.12.195.114:4200/resource/video/"
                >前去学习</a
              >
            </mat-card-actions>
          </mat-card>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
