.content {
    margin: 20px;
}

.header-card {
    display: flex;
    .info {
        flex:8;
        margin-left: 20px;
    }
    .setting {
        flex: 1;
    }
}

.body-card {
    margin-top: 20px;
    display: flex;
    .left-card {
        flex: 1;
        margin-right: 10px;
    }
    .right-card {
        flex: 1;
        margin-left: 10px;
    }
}


.recommended-card{
    display: flex;
    justify-content: start;
    flex-wrap:wrap;
    .example-card{
        margin: 10px;
        max-width: 200px;
    }
    .andsoon-card{
        margin: 10px;
    
    }
}

.list-card {
    margin: 5px;
}