<div class="header">
  <mat-grid-list cols="6" rowHeight="40" class="grid-list">
    <mat-grid-tile>学号</mat-grid-tile>
    <mat-grid-tile> {{ studentNumber }} </mat-grid-tile>
    <mat-grid-tile>姓名</mat-grid-tile>
    <mat-grid-tile>{{ username }}</mat-grid-tile>
    <mat-grid-tile>科目</mat-grid-tile>
    <mat-grid-tile> {{ details.course }} </mat-grid-tile>
    <mat-grid-tile>试卷名称</mat-grid-tile>
    <mat-grid-tile> {{ details.pageTitle }} </mat-grid-tile>
    <mat-grid-tile>完成时间</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>分数</mat-grid-tile>
    <mat-grid-tile> {{ details.score }} </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="item-list">
  <!-- 选择题 -->
  <app-details-item *ngFor="let item of details.select" [item]="item">
  </app-details-item>

  <!-- 填空题 -->
  <app-details-item
    *ngFor="let item of details.blank"
    [item]="item"
  ></app-details-item>

  <!-- 简答题 -->
  <app-details-item
    *ngFor="let item of details.ans"
    [item]="item"
  ></app-details-item>
  <!-- 算法题 -->
  <app-code-details-item *ngFor="let item of details.algorithm" [item]="item">
  </app-code-details-item>
</div>
<div class="fab-download">
  <button mat-fab color="accent" class="download">下载</button>
</div>
