.header {
    height: 200px;
    background:  linear-gradient(145deg,#0d47a1,#42a5f5);
    overflow: hidden;
    text-align: center;
    color: white;
    padding-top: 80px; // margin-top: 30px;
}

.item-list {
    margin: 20px;
}

.fab-download {
    display: flex;
}

.download {
    align-content: flex-end;
    align-self: flex-end;
}