.card {
  margin-top: 20px;

  .radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.input-text {
  width: 200px;
  color: rebeccapurple;
}

.card:hover {
  box-shadow: 0 10px 5px #888888;
}
